.App {
  text-align: center;
  background-color: white;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #E9DEDC;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(35px + 4vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

.App-info {
  font-size: 2vw;
}

.disclaimer {
  position: absolute;
  bottom: 1%;
  display: none;
}