input {
  border: none;
  background-color: transparent;
  align-self: center;
  display: inline-block;
  height: max-content;
  overflow-wrap: break-word;
}

.disclaimer {
  height: min-content;
  font-family: Arial, Helvetica, sans-serif;
  font-size: calc(6px + 1.75vmin);
  align-self: flex-end;
  position: absolute;
  bottom: 0%;
}

.nameOutput {
  align-self: center;
  height: fit-content;
  max-width: 80%;
  font-size: calc(65px + 4vmin);
  word-break: break-word;
  justify-content: center;
  background-color: transparent;
  text-align: justify;
  text-align-last: center;
  text-overflow: clip;
  white-space: pre-wrap;
}

.menuBox {
  justify-content: space-evenly;
}

textarea {
  border: none;
  caret-color: transparent;
}

textarea:focus {
  outline: none;
}

.split-holder {
  display: flex;
  height: 100%;
  flex-direction: row;
  background-attachment: fixed;
  background-clip: border-box;
  background-size: 100vh;
}

.split-right {
  width: 50%;
  height: 40%;
  display: flex;
  justify-content: center;
}

.menuToggler {
  display: none;
}

.menuTopHalf {
  display: flex;
  width: 50vw;
  height: 10%;
  outline: none;
  text-align: left;
  padding-left: 3%;
  padding-top: 10%;
  max-height: fit-content;
}

.menuBottomHalf {
  display: flex;
  width: 50vw;
  height: 10%;
  outline: none;
  text-align: left;
  padding-left: 3%;
  padding-top: 15%;
  max-height: fit-content;
}

.customOptions {
  padding-left: 3%;
  justify-content: space-between;
  font-size: calc(30px + 2vmin);
  height: fit-content;
  width: 50%;
  caret-color: transparent;
}

select {
  font-size: calc(30px + 2vmin);
  font-weight: 600;
  color: white;
  animation-name: changeColor;
  animation-delay: 150ms;
  animation-duration: 4s;
  animation-iteration-count: 5;
  padding-left: 6%;
  width: 50%;
  height: max-content;
  border: none;
  background-color: transparent;
  right: auto;
  direction: ltr;
  appearance: none;
  text-wrap: wrap;
  font-family: Arial;
  padding-top: 2%;
  text-align: left;
}

select:focus {
  outline: none;
}

@keyframes changeColor {
  from {
    /* color: #003849; */
    color: white;
  }
  50% {
    /* color: #008cb7; */
    color: hsl(56, 100%, 68%);
  }
  to {
    /* color: #00222d; */
    color: white;
  }
}

svg {
  color: #00222d;
}

.nameControls {
  display: flex;
  width: 100%;
  height: 50%;
  justify-content: space-evenly;
  max-height: 70px;
}

option {
  background-color: #e8dedc;
  text-align: left;
}

@media screen and (max-width: 900px) {
  .split-holder {
    justify-content: space-between;
    max-width: 100%;
    height: 100%;
    flex-wrap: wrap;
    background-repeat: repeat-y;
    background-size: 225vw;
    background-position: center;
  }
  .menuBox {
    display: flex;
    text-wrap: wrap;
    height: -webkit-fill-available;
    max-width: inherit;
    flex-direction: column;
    font-size: 4vh;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 2%;
  }

  select {
    font-size: 3vh;
    font-weight: 600;
    color: white;
    animation-name: changeColor;
    animation-delay: 150ms;
    animation-duration: 4s;
    animation-iteration-count: 5;
    overflow: visible;
    width: 50%;
    height: max-content;
    border: none;
    background-color: transparent;
    right: auto;
    padding: 13px 45px 15px 0px;
    direction: ltr;
    appearance: none;
    text-wrap: wrap;
    font-family: Arial;
    padding-top: 7px;
    padding-left: 0%;
    text-align: left;
  }

  .menuTopHalf {
    display: flex;
    width: 100%;
    height: 25%;
    outline: none;
    padding-top: 0%;
    text-align: left;
  }

  .menuBottomHalf {
    width: 100%;
    padding-top: 5%;
  }

  .split-right {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
  }

  .topControls {
    padding-top: 1%;
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: space-between;
    max-height: 70px;
  }

  .bottomControls {
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: space-evenly;
    max-height: 70px;
  }

  .customOptions {
    padding-top: 1%;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
  }

  .split-left {
    width: 100vw;
  }

  .split-right {
    width: 100%;
    height: 30%;
    /* clip-path: polygon(50% 100%, 100% 0, 0 0); */
    background-color: transparent;
  }

  .nameOutput {
    font-size: calc(35px + 4vmin);
  }

  .disclaimer {
    height: min-content;
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(6px + 1.75vmin);
    align-self: flex-end;
    position: relative;
  }
}
