input {
  border: none;
  background-color: #e9dedc;
}

.split-holder {
  /* display: flex, table; */

  justify-content: space-between;
  max-width: 100%;
  height: 100%;
  flex-wrap: wrap;
  background-size: cover;
}

.nameOutput {
  align-self: center;
  font-size: calc(35px + 4vmin);
  word-wrap: break-word;
  padding-top: calc(20px + 2vmin);
  padding-left: 13%;
  padding-right: 13%;
}

.split-left {
  /* width: 70%; */
  align-items: center;
}

.split-right {
  width: 100%;
  height: 45%;
  clip-path: polygon(50% 100%, 100% 0, 0 0);
  background-color: transparent;
}

input {
  align-self: center;
  padding: 2px;
  margin: 3px;
  display: inline-block;
  max-width: 25%;
  height: 4vh;
  text-align: center;
}

.innerSelect__indicators {
  /* The options */
  display: none;
  border: none;
}

.innerSelect__indicator-separator {
  display: none;
}

.innerSelect__dropdown-indicator {
  display: none;
}

.css-tj5bde-Svg {
  display: none;
}

.css-b62m3t-container {
  background-color: transparent;
  border-color: transparent;
}

.menuBox {
  display: flex;
  text-wrap: wrap;
  height: -webkit-fill-available;
  max-width: inherit;
  flex-direction: column;
  font-size: 3vh;
}

select {
  font-size: 2.5vh;
  font-weight: 600;
  color: rgba(194, 0, 220, 0.714);
  overflow: visible;
  width: max-content;
  height: max-content;
  border: none;
  background-color: transparent;
  appearance: none;
  text-align: center;
  font-family: Brittany;
}

@font-face {
  font-family: "Brittany";
  src: local("Brittany"), url("../fonts/BrittanySignature.ttf") format("truetype");
}

.font-face-Brittany {
  font-family: "Brittany";
}

.topControls {
  padding-top: 1%;
  display: flex;
  width: 100%;
  height: 50%;
  justify-content: space-evenly;
}

.bottomControls {
  display: flex;
  width: 100%;
  height: 50%;
  justify-content: space-evenly;
}

.nameControls {
  display: flex;
  width: 100%;
  height: 50%;
  justify-content: space-evenly;
}

p {
  width: fit-content;
  height: fit-content;
  margin: 0;
  padding: 0;
}

option {
  background-color: #e8dedc;
}

@media screen and (max-width: 900px) {
  input {
    width: max-content;
    height: 4vh;
  }

  .css-b62m3t-container {
    width: 80vw;
    margin-left: 5px;
  }

  .split-left {
    width: 100vw;
  }

  .split-right {
    background-image: url("https://media.rainpos.com/Checker/CD-DKTURQ.jpg");
    width: 100%;
    height: 45%;
    clip-path: polygon(50% 100%, 100% 0, 0 0);
    background-color: transparent;
  }

  .nameOutput {
    padding-left: 13%;
    padding-right: 13%;
    font-size: calc(35px + 4vmin);
    padding-top: calc(20px + 2vmin);
  }
}
