.split-holder {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  max-height: 100%;
  flex-wrap: wrap;
}

.nameOutput {
  font-size: 10vw;
  font-size: 10vh;
  max-width: 100%;
  word-wrap: break-word;
}

.split-left {
  width: 25vw;
  height: 100vh;
}

.split-right {
  max-width: 65vw;
  display: flex;
  flex-wrap: wrap;
  padding-right: 30px;
  align-content: flex-start;
}
